header.bg-slate-300.p-4
    div(class="container mx-auto justify-between items-center sm:flex")
        h1(class="text-5xl my-1 font-normal text-center sm:text-6xl md:my-10") Maneja
            span.font-extrabold.uppercase.text-green-700 te
        //nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold hidden")
            a(href="") Mis Gastos
            a(href="") Mi Perfil
            a(class="bg-green-800 text-white py-2 px-10 rounded-lg" href="") Cerrar Sesión